name: aso-project
services:
  ollama:
    build: 
      context: ./ollama
      dockerfile: ./Dockerfile
    container_name: ollama
    ports:
      - "11435:11434"
    volumes:
      - ollama:/root/.ollama
    networks:
      aso_network:
    
  mcp_server:
    build:
      context: ./MCP_Server
      dockerfile: ./Dockerfile
    container_name: mcp_server
    ports:
      - "8101:8100"
    networks:
      aso_network:

  adk_agent:
    build: 
      context: ./docker-agent-deploy
      dockerfile: ./Dockerfile
    container_name: adk_agent
    ports:
      - "8000:8000"
    environment:
      OLLAMA_API_BASE: "http://ollama:11434"
      URL_MCP: "http://mcp_server:8100/mcp"
    networks:
      aso_network:

volumes:
  ollama:

networks:
  aso_network:
    external: true
